{% extends "base.html" %}
{% block content %}
<div class="buttons is-right">
    <a href="/patient/create" class="button is-success">New Patient</a>
  </div>
<h1 class="title">Patients</h1>
<h2 class="subtitle">Patients Record</h2>

<table id="table_id" class="table is-fullwidth">
  <thead>
      <tr>
          <th>ID</th>
          <th>CHEERS ID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Address</th>
          <th>Country</th>
      </tr>
  </thead>
  <tbody>
    {% for patient in patients %}
    <tr>
      <td> {{ patient.id }} </td>
      <td> {{ patient.cheers_id }} </td>
      <td> {{ patient.first_name }} {{patient.last_name}} </td>
      <td> {{ patient.gender }} </td>
      <td> {{ patient.age }} </td>
      <td> {{ patient.address }} </td>
      <td> {{ patient.country }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  $(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>
{% endblock %}
