{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="columns">
    <div class="column">
      <h1 class="title">Patients</h1>
      <h2 class="subtitle">Patients Record</h2>
      </div>
    <div class="column">
      <div class="field is-grouped is-pulled-right">
        <p class="control">
          <div class="buttons is-right">
            <a href="/patient/create" class="button is-link">New Patient</a>
          </div>
        </p>
        <p class="control">
          <button class="button">
            Download
          </button>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section">
<div class="b-table">
  <div class="table-wrapper has-mobile-cards">
    

<table id="table_patients" class="table is-fullwidth is-striped is-hoverable">
  <thead>
      <tr>
          <th>ID</th>
          <th>CHEERS ID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Address</th>
          <th>Country</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
    {% for patient in patients %}
    <tr>
      <td data-label="ID"> {{ patient.id }} </td>
      <td data-label="CHEERS ID"> {{ patient.cheers_id }} </td>
      <td data-label="Name"> {{ patient.first_name }} {{patient.last_name}} </td>
      <td data-label="Gender"> {{ patient.gender }} </td>
      <td data-label="Age"> {{ patient.age }} </td>
      <td data-label="Phone"> {{ patient.phone }} </td>
      <td data-label="Email"> {{ patient.email }} </td>
      <td data-label="Address"> {{ patient.address }} </td>
      <td data-label="Country"> {{ patient.country }} </td>
      <td data-label="Created at"> <small class="has-text-grey">{{ patient.date_create.strftime('%Y-%m-%d') }}</small> </td>
      <td data-label="Updated at"> <small class="has-text-grey">{{ patient.date_update.strftime('%Y-%m-%d') }}</small> </td>
      <td class="is-actions-cell" data-label="Actions"> 
        <a href={{ url_for("patient", patient_id=patient.id) }}><i class="fas fa-eye"></i> </a> 
        <a href={{ url_for("patient_edit", patient_id=patient.id) }}><i class="fas fa-edit"></i></a> 
        <a href={{ url_for("patient_delete", patient_id=patient.id) }}><i class="far fa-trash-alt"></i></a>
      </td>
        
    </tr>
    {% endfor %}
  </tbody>
</table>
  </div>
</div>
</section>
{% endblock %}

{% block javascript %}
<script>
  $(document).ready( function () {
    $('#table_patients').DataTable();
} );
</script>
{% endblock %}