{% extends "base.html" %}
{% block content %}
<section class="section">
<div class="columns">
  <div class="column">
    <h1 class="title">Users</h1>
    <h2 class="subtitle">Users Record</h2>
    </div>
  <div class="column">
    <div class="field is-grouped is-pulled-right">
      <p class="control">
        <button class="button is-link">
          New User
        </button>
      </p>
      <p class="control">
        <button class="button">
          Download
        </button>
      </p>
    </div>
  </div>
</div>
</section>


{% endblock %}