{% extends "base.html" %}
{% block content %}
<section class="section">
<div class="columns">
  <div class="column">
    <h1 class="title">Users</h1>
    <h2 class="subtitle">Users Record</h2>
    </div>
  <div class="column">
    <div class="field is-grouped is-pulled-right">
      <p class="control">
        <button id="btn" class="button is-link">
          New User
        </button>
      </p>
      <p class="control">
        <button class="button">
          Download
        </button>
      </p>
    </div>
  </div>
</div>
</section>

<div class="modal" id="myModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close" data-bulma-modal="close"></button>
    </header>
    <section class="modal-card-body">
      <p>There is something here</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button" data-bulma-modal="close">Cancel</button>
    </footer>
  </div>
</div>


{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}