{% extends "base.html" %}
{% block content %}
<h1 class="title">{{ title }}</h1>

<form method="POST" action="{{url_for(action, patient_id=patient_id)}}">
   {{form.hidden_tag()}}

   <div class="field is-inline-block-desktop">
      {{form.cheers_id.label(class="label")}}
      {% if form.cheers_id.errors %}
         {{form.cheers_id(class="input is-danger")}}
         <p class="help is-danger">
            {% for error in form.cheers_id.errors %}
            <span>{{ error }}</span>
            {% endfor %}
         </p>
      {% else %}
      {{form.cheers_id(class="input")}}
      {% endif %} 
   </div>

   <div class="field-group">
      <div class="field is-inline-block-desktop">
         {{form.first_name.label(class="label")}}
         {% if form.first_name.errors %}
         {{form.first_name(class="input is-danger")}}
         <p class="help is-danger">
            {% for error in form.first_name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
         </p>
      {% else %}
      {{form.first_name(class="input")}}
      {% endif %} 
      </div>
      <div class="field is-inline-block-desktop">
         {{form.last_name.label(class="label")}}
         {% if form.last_name.errors %}
         {{form.last_name(class="input is-danger")}}
         <p class="help is-danger">
            {% for error in form.last_name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
         </p>
      {% else %}
      {{form.last_name(class="input")}}
      {% endif %} 
      </div>
   </div>

   <div class="field-group">
      <div class="field is-inline-block-desktop">
         {{form.age.label(class="label")}}
         {% if form.age.errors %}
         {{form.age(class="input is-danger")}}
         <p class="help is-danger">
            {% for error in form.age.errors %}
            <span>{{ error }}</span>
            {% endfor %}
         </p>
      {% else %}
      {{form.age(class="input")}}
      {% endif %} 
      </div>
      <div class="field is-inline-block-desktop">
         {{form.gender.label(class="label")}}
         {% if form.gender.errors %}
         {{form.gender(class="input is-danger")}}
         <p class="help is-danger">
            {% for error in form.gender.errors %}
            <span>{{ error }}</span>
            {% endfor %}
         </p>
      {% else %}
      {{form.gender(class="input")}}
      {% endif %} 
      </div>
   </div>

   <div class="field-group">
      <div class="field is-inline-block-desktop">
         {{form.phone.label(class="label")}}
         {% if form.phone.errors %}
         {{form.phone(class="input is-danger")}}
         <p class="help is-danger">
            {% for error in form.phone.errors %}
            <span>{{ error }}</span>
            {% endfor %}
         </p>
      {% else %}
      {{form.phone(class="input")}}
      {% endif %} 
      </div>
      <div class="field is-inline-block-desktop">
         {{form.email.label(class="label")}}
         {% if form.email.errors %}
         {{form.email(class="input is-danger")}}
         <p class="help is-danger">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
         </p>
      {% else %}
      {{form.email(class="input")}}
      {% endif %} 
      </div>
   </div>

   <div class="field-group">
      <div class="field is-inline-block-desktop">
         {{form.address.label(class="label")}}
         {% if form.address.errors %}
         {{form.address(class="input is-danger")}}
         <p class="help is-danger">
            {% for error in form.address.errors %}
            <span>{{ error }}</span>
            {% endfor %}
         </p>
      {% else %}
      {{form.address(class="input")}}
      {% endif %} 
      </div>
      <div class="field is-inline-block-desktop">
         {{form.country.label(class="label")}}
         {% if form.country.errors %}
         {{form.country(class="input is-danger")}}
         <p class="help is-danger">
            {% for error in form.country.errors %}
            <span>{{ error }}</span>
            {% endfor %}
         </p>
      {% else %}
      {{form.country(class="input")}}
      {% endif %}
      </div>
   </div>
   {{form.submit(class='button is-link')}}
</form>

{% endblock %}
