{% extends "base.html" %}
{% block content %}
<h1 class="title">Create New Patient</h1>

<form method="POST" action="">
   {{form.hidden_tag()}}

   <div class="field is-inline-block-desktop">
      {{form.cheers_id.label(class="label")}}
      {{form.cheers_id(class="input")}}
   </div>

   <div class="field-group">
      <div class="field is-inline-block-desktop">
         {{form.first_name.label(class="label")}}
         {{form.first_name(class="input")}}
      </div>
      <div class="field is-inline-block-desktop">
         {{form.last_name.label(class="label")}}
         {{form.last_name(class="input")}}
      </div>
   </div>

   <div class="field-group">
      <div class="field is-inline-block-desktop">
         {{form.age.label(class="label")}}
         {{form.age(class="input")}}
      </div>
      <div class="field is-inline-block-desktop">
         {{form.gender.label(class="label")}}
         {{form.gender(class="input")}}
      </div>
   </div>

   <div class="field-group">
      <div class="field is-inline-block-desktop">
         {{form.address.label(class="label")}}
         {{form.address(class="input")}}
      </div>
      <div class="field is-inline-block-desktop">
         {{form.country.label(class="label")}}
         {{form.country(class="input")}}
      </div>
   </div>
   {{form.submit(class='button is-link')}}
</form>

{% endblock %}
