{% extends "base.html" %}
{% block css %}

{% endblock %}
{% block content %}



<div class="hero-body">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-5 is-offset-1 landing-caption">
                <h1 class="title is-1 is-bold is-spaced">
                    CheersAI
                </h1>
                <h2 class="subtitle is-5 is-muted">An AI enabled tool for prediction of <strong>Diabetic Retinopathy</strong> and <strong>Glaucoma</strong> based on fundus images.</h2>
                <div class="button-wrap">
                    <a href="#" class="button cta is-rounded primary-btn raised">
                        Link to paper
                    </a>
                    <a target="_blank" href="https://www.bpeyefoundation.org/CHEERS.aspx" class="button cta is-rounded">
                        CHEERS HOSPITAL
                    </a>
                </div>
 
            </div>
            <div class="column is-5">
                <figure class="image is-4by4">
                    <img src="{{ url_for('static', filename='img/image-asset.png') }}">
                </figure>
            </div>

        </div>
    </div>
</div>
</section>

<section class="section section-feature-grey is-medium">
<div class="container">
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Features</h2>
        <h3 class="subtitle is-5 is-muted"></h3>
        <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
        <div class="columns">
            <div class="column is-one-third">
                <div class="feature-card is-bordered has-text-centered is-feature-reveal">
                    <div class="card-title">
                        <h4>Efficient Prediction Models</h4>
                    </div>
                    <div class="card-icon">
                        <img src="{{url_for('static', filename='img/light-bulb.svg')}}">
                    </div>
                    <div class="card-text">
                        <p>Efficient models trained on Inception-v3, with weightage on recall.</p>
                    </div>

                </div>
            </div>
            <div class="column">
                <div class="feature-card is-bordered has-text-centered is-feature-reveal">
                    <div class="card-title">
                        <h4>Patient Tracking</h4>
                    </div>
                    <div class="card-icon">
                        <img src="{{url_for('static', filename='img/web.svg')}}">
                    </div>
                    <div class="card-text">
                        <p>Powerful MIS to create and track patient, and patient's historical predictions.</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="feature-card is-bordered has-text-centered is-feature-reveal">
                    <div class="card-title">
                        <h4>Continuous Learning</h4>
                    </div>
                    <div class="card-icon">
                        <img src="{{url_for('static', filename='img/rocket.svg')}}">
                    </div>
                    <div class="card-text">
                        <p>Inputs reviewed by opthalmologists and added to training.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="section is-medium">
<div class="container">
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2">Why?</h2>
        <h3 class="subtitle is-5 is-muted">The rationale for developing countries.</h3>
        <div class="divider is-centered"></div>
    </div>

    <div class="columns is-vcentered side-feature mt-60">
        <div class="column is-4 is-offset-2">
            <h3 class="title is-3 mb-10 is-title-reveal">Diabetic Retinopathy</h3>
            <p class="subtitle is-5 is-muted">
                Diabetic Retinopathy is an eye illness caused by diabetes that may lead to vision impairment and even to blindness if it isn't identified and treated early. Of the estimated 422 million diabetics globally, more than 148 million have DR and 48 million have Vision Threating DR (VTDR). <br><br>
                However, because of insufficient specialists and eye care health workers globally as well as locally to screen everyone at risk, the situation seems acute especially in developing countries like Nepal. Besides, Nepal has difficult geographical terrain and people living in remorse remote areas with limited or no access to clinics and screening facilities making the condition even worse. 
                
                
                </p>
            </div>
        <div class="column is-5">
            <img src="https://camo.githubusercontent.com/a6b040d6eca19246121fb7a4e3fca782ed625c42af1889778c4edf14151198ef/68747470733a2f2f6761647364656e6579652e636f6d2f77702d636f6e74656e742f75706c6f6164732f64696162657469632d726574696e6f70617468792d766563746f722e6a7067" alt="">
        </div>
    </div>

    <div class="columns is-vcentered side-feature mt-60">
        <div class="column is-5 is-offset-1">
            <img src="https://camo.githubusercontent.com/71e24e233d0fc826e10230944b2a1cdfba81b4387862f899f1f7c400330b02c6/68747470733a2f2f7777772e696e6d6564706861726d612e636f6d2f77702d636f6e74656e742f75706c6f6164732f323032302f30352f476c6175636f6d612d636f6d70617265642d746f2d6e6f726d616c2d766973696f6e2e706e67" alt="">
        </div>
        <div class="column is-4 is-offset-1">
            <h3 class="title is-3 mb-10 is-title-reveal">Glaucoma</h3>
            <p class="subtitle is-5 is-muted">
                Glaucoma is a diverse group of disorders representing the second prominent cause of blindness. It has already affected 91 million individuals all over the world. It has multiple risk factors such as older age, elevated intraocular pressure (IOP), and thinner central corneal thickness etc. However, one or more of these risk factors may or may not develop glaucoma making it difficult for accurate prediction of the disease. Additionally, since glaucoma can be asymptomatic, its detection before significant vision loss is critical. Hence, automated methods for predicting glaucoma could have a significant impact.

            </p>
        </div>
    </div>
</div>
</section>

<section class="section section-feature-grey is-medium">
<div class="container">

    <div class="columns is-vcentered app-side">
        <div class="column is-5 is-offset-1">
            <h3 class="title is-3 is-spaced is-title-reveal">An intuitive app</h3>
            <p class="subtitle is-5 is-muted">
                Easy to use, access managed platform, with the primary focus on providing assistance to our opthalmologists.    
            </p>
        </div>
        <div class="column is-10">
            <div class="has-text-centered">
                <img class="pushed-image" src="{{url_for('static', filename='img/demo.png')}}">
            </div>
        </div>
    </div>
</div>
</section>




<section class="section section-light-grey is-medium">
<div class="container">
    <div class="title-wrapper has-text-centered">
        <h2 class="title is-2 is-spaced">Request Access</h2>
        <h3 class="subtitle is-5 is-muted">We will get in touch soon.</h3>
        <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <form action="https://formspree.io/f/xdoygpkv" method="POST">
                    <div class="columns is-multiline">
                        <div class="column is-6">
                            <input class="input is-medium" type="text" placeholder="First Name *" name="first_name">
                        </div>
                        <div class="column is-6">
                            <input class="input is-medium" type="text" placeholder="Last Name *" name="last_name">
                        </div>
                        <div class="column is-6">
                            <input class="input is-medium" type="email" placeholder="Email *" name="_replyto">
                        </div>
                        <div class="column is-6">
                            <input class="input is-medium" type="text" placeholder="Company" name="company">
                        </div>
                        <div class="column is-12">
                            <textarea class="textarea" rows="6"  name="message"></textarea>
                        </div>
                        <div class="column is-12">
                            <div class="form-footer has-text-right mt-10">
                                <button class="button cta is-large primary-btn form-button raised is-clear">Send Message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}