{% extends "base.html" %}
{% block content %}

<h1 class="title">{{patient.first_name}} {{patient.last_name}}</h1>
<h2 class="subtitle">Patient's Info</h2>

<div class="card">
    <div class="card-content">
        <div class="content">
            <div class="columns">
                <div class='column'>
                    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                        <tbody>
                            <tr><td><h6 class="title is-6">Name</h6></td><td> {{patient.first_name}} {{patient.last_name}} </td></tr>
                            <tr><td><h6 class="title is-6">Age</h6></td><td> {{patient.age}}  </td></tr>
                            <tr><td><h6 class="title is-6">Gender</h6></td><td> {{patient.gender}} </td></tr>
                            <tr><td><h6 class="title is-6">Address</h6></td><td> {{patient.address}} </td></tr>
                            <tr><td><h6 class="title is-6">Country</h6></td><td> {{patient.country}} </td></tr>
                            <tr><td><h6 class="title is-6">Created at</h6></td><td> {{patient.date_create.strftime('%Y-%m-%d')}} </td></tr>
                            <tr><td><h6 class="title is-6">Updated at</h6></td><td> {{patient.date_update.strftime('%Y-%m-%d')}} </td></tr>
                        </tbody>
                </table>
                </div>
                <div class="column">
                    <br>
                    <article class="tile is-child notification is-primary">
                        <p class="title">ID</p>
                        <p class="subtitle">{{patient.id}}</p>
                      </article>
                      <br>
                      <article class="tile is-child notification is-primary">
                        <p class="title">CHEERS ID</p>
                        <p class="subtitle">
                            {% if patient.cheers_id %}
                                {{patient.cheers_id}}
                            {%else%}
                                -
                            {% endif %}
                        </p>
                      </article>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<h1 class="title">Diabetic Retinopathy</h1>
<h2 class="subtitle">Patient's History</h2>


<form method="POST" action="">
    {{drform.hidden_tag()}}
    <div class="field-group">
        <div class="field is-inline-block-desktop">
            {{drform.left_eye.label(class="label")}}
            {{drform.left_eye(class="input")}}
        </div>
        <div class="field is-inline-block-desktop">
            <div class="field is-inline-block-desktop">
            {{drform.right_eye.label(class="label")}}
            {{drform.right_eye(class="input")}}
            </div>
        </div>
     </div>
     {{form.submit(class='button is-link')}}
</form>

<br />


<br><br><br><br><br><br>
<h1 class="title">Glaucoma</h1>
<h2 class="subtitle">Patient's History</h2>

{% endblock %}